@* form Template File *@
@(usuario: models.oauth2.Usuario, resultado: Option[models.Resposta] = None, cidade: Option[String] = None, dias: Option[String] = None, codigo: Option[Int] = None)

@main("Pesquisar") {
	<h1>INE5646 - Previsão do tempo</h1>
	<p><b>Usuário:</b> @usuario.nome <img src="@usuario.pic" height=250 width=250></p>
	
	@codigo match{
			case Some(3)  => {<p><h4>Cidade não preenchida</h4></p>}

			case Some(4)  => {<p><h4>Dias não preenchido</h4></p>}

			case Some(5)  => {<p><h4>Dias deve ter somente números</h4></p>}

			case None => {}
	}
	
	<form action="processe" method="post">
	<b>Cidade </b><input type="text" name="cidade" placeholder="Informe a cidade" value=@cidade>
	<br>
	<b>Dias</b>&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="dias" placeholder="Quantidade de dias" value = @dias>
	<button>Enviar</button>
	</form>

	@resultado match {
		case None => {}
		case Some(r) => {
				 @r.erro match {
				 	case 1 => {<p><h4>Quantidade de dias deve estar entre 1 e 10</h4></p>}

				 	case 2  => {<p><h4>Cidade não localizada</h4></p>}

				 	case None => {<p><h3>@r.cidade - @r.pais</h3>
				 					@for(i <- 0 until r.dt.size){
				 						&nbsp&nbsp&nbsp<img src=@r.montarUrlIcone(r.icones(i))> <br>
				 						<b>Dia:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b> @r.formatarData(r.dt(i)) <br>
				 						<b>Descrição:</b> @r.descricoes(i) <br>
				 						<b>Mínimo:&nbsp&nbsp&nbsp</b> @r.minimo(i) <br>
				 						<b>Máximo:&nbsp&nbsp</b> @r.maximo(i) <br>
				 						<b>Humidade:</b> @r.humidades(i) %
				 						<br><br>
				 					}
				 				}
						}   
					}
	}
	<br>
   <form action="sair" method="post">
	  <button>Sair</button>
   </form>		
}